{% extends "layout.html" %}
{% block body %}

{% if not session.logged_in %}
  <div>
    <h2>
      Данный раздел только для авторизованных пользователей
    </h2>
  </div>
{% else %}


      {% if client_items %}
      <table class="table">
        <tr>
          <td><b>...</td>
          <td><b>Имя</td>
          <td><b>ИДД Клиента</td>
          <td><b>Есть ошибки</td>
        </tr>
        {% for item in client_items %}
        <tr>
            <td><a href="{{ url_for('edit_client', clientid=item.client_id) }}">
	            <span class="glyphicon glyphicon-pencil"></span></td>

            <td>{{ item.client_name }}</td>
            <td>{{ item.client_id }}</td>
            <td>{{ item.client_has_error }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
{% endif %}
{% endblock %}
